.vscode/
build/
my_test_data/*
.mypy_cache/
!my_test_data/*.json
**/__pycache__/*.pyc
my_test_data/out.pod5
stderr.log
stdout.log
python/**
build*/
_build/
dist/
.DS_Store
.pod5
venv/
.venv/
docs/public/
.tmp_pod5*
_version.py
#*egg-info/
POD5Version.cmake
time/**
gmon.out
std_err
std_out
sample.pod5
